
a.lx:link {
        color: #4f96ff;
        text-decoration: none;
}

a.lx:visited {
        color: #2848ff;
        text-decoration: none;
}

a.lx:visited:hover {
        color: #2848ff;
        text-decoration: underline;
}

a.lx:link:hover {
        color: #4f96ff;
        text-decoration: underline;
    }

html { height: 100%; margin-bottom: 1px; }

