 <div id="hdr-c">
 <table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tr>
 <td width="980" height="82" style="background-image: url('/img/Banner_01.jpg'); font-size:30px;text-indent:20px;">
 Data Distribution Centre (DRAFT)</td>
 <td width="100%" height="82" style="background-image: url('/img/banner_pad1.jpg');"></td>
 </tr>
 <tr>
 <td>
   <table width="980" border="0" cellspacing="0" cellpadding="0">
      <tr>
         <td width="598" height="36" style="vertical-align:bottom;background-image: url('/img/Banner_02.jpg');">
            <form action="https://www.google.com/cse" id="cse-search-box" style="vertical-align:center;margin:0px">
                   <input type="text" name="q" style="width:105pt;height:20pt"/>
                   <input type="hidden" name="ie" value="UTF-8" />
                   <input type="hidden" name="cx" value="013451859210749699644:ghsp-nn-2uw" />
                   <input type="submit" name="sa" value="Search" style="width:60pt;height:18pt;font-size:10pt;"/>
                   <a href="/ddc_advanced_search.html">Advanced search</a>
            </form>
            <script type="text/javascript" src="https://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
         </td>
         <td width="382" style="background-image: url('/img/Banner_03.jpg');">
           <table>
           <tr>
           <td width="25%" align="left">
             <a href="/ddc_help.html">Help</a>
           </td>
           <td width="25%" align="left">
             <a href="/ddc_sitemap.html">Site map</a>
           </td>
           <td width="50%" align="right">
             <form style="margin:0px" action="/cgi-bin/redirect" method="post">
               <select name="newurl" onchange="location.href=this.form.newurl.options[ this.form.newurl.selectedIndex ].value;">
                 <option selected="selected" value="#">IPCC web sites</option>
                 <option value="http://www.ipcc.ch">IPCC Home</option>
                 <option value="https://www.ipcc.ch/working-group/wg1/">Working Group I</option>
                 <option value="https://www.ipcc.ch/working-group/wg2">Working Group II</option>
                 <option value="https://www.ipcc.ch/working-group/wg3">Working Group III</option>
                 <option value="https://www.ipcc.ch/working-group/tfi/">NGGIP</option>
                 <option value="https://www.ipcc.ch/task-group-on-data-and-scenario-support-for-impact-and-climate-analysis-tgica/" title="Task Group on Data Support for Climate Change Assessments">TG-DATA</option>
               </select>
               <noscript> <input type="submit" value="Go" /> </noscript>
             </form>
           </td>
           </tr>
           </table>
         </td>
      </tr>
   </table>
 </td>
 <td width="100%" style="background-image: url('/img/banner_pad3.jpg');"></td>
 </tr>
 <tr><td colspan="2" width="100%" style="background:#ffffff" height="2"></td></tr>
 </table>
 </div>
