<div id="hdr-c">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="980" height="82" style="font-size:30px;text-indent:20px;background-image:url('/img/Banner_01.jpg')">
Data Distribution Centre</td>
<td width="100%" height="82" style="background-image:url('/img/banner_pad1.jpg')"></td>
</tr>
<tr>
<td>
  <table width="980" border="0" cellspacing="0" cellpadding="0">
     <tr>
        <td width="598" style="align:center;background-image:url('/img/Banner_02.jpg');">
           <a href="/index.html">Home</a>
        </td>
        <td width="382" style="background-image:url('/img/Banner_03.jpg');">
           <!--#include virtual="/ssi/header/banner_links1.html" -->
        </td>
     </tr>
  </table>
</td>
<td width="100%" style="background-image:url('/img/banner_pad3.jpg');"></td>
</tr>
<tr><td colspan="2" width="100%" style="background:#ffffff" height="2"></td></tr>
</table>
</div>
