<tr>
 <td colspan="2">
 <div id="relatedlinks" align="left">
	<h3>Download Data</h3>
	<ul> 
		<li><a href="/observ/clim/index.html">Observed Data:</a></li> 
		<li><a href="/observ/clim/get_10yr_means.html">CRU 10-yr Means</a></li> 
		<li><a href="/observ/clim/get_30yr_means.html">CRU 30-yr Means</a></li>
	</ul> 
	<ul> 
		<li>GCM Data:</li> 
		<li><a href="/sim/gcm_monthly/SRES_AR4/index.html">AR4 (2007): SRES Scenarios</a></li> 
		<li><a href="/sim/gcm_monthly/SRES_TAR/index.html">TAR (2001): SRES Scenarios</a></li> 
		<li><a href="/sim/gcm_monthly/IS92A_SAR/index.html">IS92x Scenarios</a></li> 
	</ul> 
	<h3>Publications</h3>
	<ul> 
<!--#include virtual="/ssi/external_links/IPCC_pubs.html" -->
	</ul> 
</div>
</td>
</tr>
