 <tr>
 <td colspan="2">
 <div id="logos">
 	<table width="100px" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
 <tr>
 			<td height="40" align="center" valign="middle">
                <a href="http://www.ceda.ac.uk/" title="CEDA - Centre for Environmental Data Analysis">
                  <img src="/img/ceda_logo_transp_black_h188.png" alt="CEDA - Centre for Environmental Data Analysis" height="60" width="200" hspace="5" vspace="5" border="0" />"
                </a>
 </td></tr><tr><td>
                <a href="https://www.gov.uk/government/organisations/department-for-business-energy-and-industrial-strategy" title="BEIS - Department for Business, Energy &amp; Industrial Strategy">
                  <img src="/img/BEIS_logo_2018.jpg" alt="BEIS - Department for Business, Energy &amp; Industrial Strategy"  height="60" hspace="5" vspace="5" border="0" />
                </a>
             </td>
                  </tr>
</table>
 	<table width="100px" border="0" align="center" cellpadding="0" cellspacing="0" >
<tr>
        <td width="12%" height="30" align="center" valign="middle">
               <a href="http://www.nerc.ac.uk" title="Natural Environment Research Council">
               <b><font color="#ffffff"> NERC </font></b>
               </a>
        </td>
</tr><tr>
        <td width="12%" height="30" align="center" valign="middle">
               <a href="http://www.ncas.ac.uk" title="National Centre for Atmospheric Science">
               <b><font color="#ffffff"> NCAS </font></b>
               </a>
        </td>
</tr><tr>
        <td width="12%" height="30" align="center" valign="middle">
                <p><a href="http://www.ceda.ac.uk/disclaimer/">
                <b><font color="#ffffff">CEDA disclaimer</font></b>
               </a></p>
        </td>
</tr>
 	</table>
 </div>
 </td>
 </tr>
