 <tr>
 <td colspan="2">
 <div id="relatedlinks" align="left">
 <!-- related links bar -->
<h3>Quick links</h3>
	<ul> 
            <li><a href="http://www.ipcc.ch/publications_and_data/publications_and_data_reports.htm">IPCC Reports</a></li>
<li><a href="/help/formats.html">General Data formats</a></li>
<li><a href="/observ/clim/observed_fileformat.html">File naming for CRU data</a></li>
<li><a href="/observ/clim/climate_quality.html">CRU data quality</a></li>
        </ul>
 </div>
 </td>
 </tr>
