<tr>
   <td class="menunav" id="menuipcc"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="http://www.ipcc.ch" title="Exit to IPCC site (new page)" target="_IPCC.ch"><img src="/img/forward.png" alt="x" height="12" width="20"/><i>IPCC Site</i></a></td> </tr>
   <tr>
   <td class="menunav" id="menuddchome"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/index.html">DDC Home</a></td> </tr>
   <tr>
   <td class="menunav" id="menuddc"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/ddc/ddc_about.html">About the DDC</a></td> </tr>
   <tr>
   <td class="menunav" id="menuguide"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/guidelines/index.html">Guidance on the use of data</a></td> </tr>
   <tr>
   <td class="menunav" id="menuar5p"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a href="http://sedac.ipcc-data.org/ddc/ar5_scenario_process/index.html">Scenario process for AR5</a>
   </td> </tr>
   <tr>
   <td class="menunav" id="menuobs"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/observ/index.html">Data: Observations</a></td> </tr>
   <tr class="ddcsim">
   <td class="menunav" id="menusim"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/sim/index.html">Data: Simulations</a></td> </tr>
<tr class="tar_mon">
  <td class="sres_em"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="http://sedac.ipcc-data.org/ddc/sres/index.html">SRES Emissions scenarios</a></td>
</tr>
<tr class="is92_em">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="http://sedac.ipcc-data.org/ddc/is92/index.html">IS92 Emissions scenarios</a></td>
</tr>
<tr class="tar_mon">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/observ/ddc_co2.html">Projected CO2 emissions and concentrations</a></td>
</tr>
<tr class="gcm_mon">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/sim/gcm_monthly/">Climate model output</a></td>
</tr>
<tr class="gcm_clim">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/sim/gcm_clim/">Climate model: period-averages</a></td>
</tr>
<tr class="gcm_global">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/sim/gcm_global/index.html">Climate model: global-means (AR4)</a></td>
</tr>
   <tr>
   <td class="menunav" id="menusca"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/syn/tar_scatter/index.html">Data: Synthesis</a></td> </tr>
   <tr>
   <td class="menunav" id="menuvis"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/maps/">Visualisation</a></td> </tr>
