<tr>
   <td class="menunav" id="menuipcc"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="http://www.ipcc.ch" title="Exit to IPCC site (new page)" target="_IPCC.ch"><img src="/img/forward.png" alt="x" height="12" width="20"/><i>IPCC Site</i></a></td> </tr>
   <tr>
   <td class="menunav" id="menuddchome"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/index.html">DDC Home</a></td> </tr>
   <tr>
   <td class="menunav" id="menuddc"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/ddc/ddc_about.html">About the DDC</a></td> </tr>
   <tr>
   <td class="menunav" id="menuguide"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/guidelines/index.html">Guidance on the use of data</a></td> </tr>
   <tr>
   <td class="menunav" id="menuar5p"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a href="http://sedac.ipcc-data.org/ddc/ar5_scenario_process/index.html">Scenario process for AR5</a>
   </td> </tr>
   <tr class="ddcobs">
   <td class="menunav" id="menuobs"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/observ/index.html">Data: Observations</a></td> </tr>
<tr class="obs_clim">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/observ/clim/index.html">Physical climate</a></td>
</tr>
<tr class="obs_co2">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/observ/ddc_co2.html">CO2 concentrations</a></td>
</tr>
<tr class="baseline">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="http://sedac.ipcc-data.org/ddc/baseline/index.html">Socio-Economic Baseline</a></td>
</tr>
<tr class="ar5_impacts">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="http://sedac.ipcc-data.org/ddc/observed_ar5/index.html">Observed Impacts (AR5)</a></td>
</tr>
<tr class="ar4_impacts">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="http://sedac.ipcc-data.org/ddc/observed/index.html">Observed Impacts (AR4)</a></td>
</tr>
<tr class="obs_envdata">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/observ/ddc_envdata.html">Environmental Data and Scenarios</a></td>
</tr>
   <tr>
   <td class="menunav" id="menusim"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/sim/index.html">Data: Simulations</a></td> </tr>
   <tr>
   <td class="menunav" id="menusca"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/syn/tar_scatter/index.html">Data: Synthesis</a></td> </tr>
   <tr>
   <td class="menunav" id="menuvis"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/maps/">Visualisation</a></td> </tr>
