<tr>
   <td class="menunav" id="menuipcc"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="http://www.ipcc.ch" title="Exit to IPCC site (new page)" target="_IPCC.ch"><img src="/img/forward.png" alt="x" height="12" width="20"/><i>IPCC Site</i></a></td> </tr>
   <tr class="ddchome">
   <td class="menunav" id="menuddchome"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/index.html">DDC Home</a></td> </tr>
   <tr>
   <td class="menunav" id="menuddc"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/ddc/ddc_about.html">About the DDC</a></td> </tr>
  <tr class="ddc_gui">
   <td class="menunav" id="menuguide"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/guidelines/index.html">Guidance on the use of data</a></td> </tr>
<tr class="socio_econ">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub">
  <a href="http://sedac.ipcc-data.org">Socio-Economic Data</a>
  </td>
</tr>
<tr class="gl_dlink">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/guidelines/pages/approvedDatasetLinks.html">Linked datasets</a></td>
</tr>
<tr class="gl_ar5regions">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/guidelines/pages/ar5_regions.html">AR5 Regions</a></td>
</tr>
<tr class="gl_def">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/guidelines/pages/glossary/index.html">Glossary</a></td>
</tr>
<tr class="g_def">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub">
  <a class="lx" href="/ddc/site_layout.html">How the site is arranged</a>
  </td>
</tr>
<tr class="gl_gcm">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/guidelines/pages/gcm_guide.html">What is a GCM?</a></td>
</tr>
<tr class="gl_scen">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/guidelines/pages/scen_selection.html">Scenario selection</a></td>
</tr>
<tr class="gl_change">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/guidelines/pages/change_field.html">Constructing change fields</a></td>
</tr>
<tr class="gl_rep">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/guidelines/pages/reporting.html">Consistency and reporting</a></td>
</tr>
<tr class="gl_wg">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/guidelines/pages/weather_generators.html">Weather generators</a></td>
</tr>
   <tr>
   <td class="menunav" id="menuar5p"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a href="http://sedac.ipcc-data.org/ddc/ar5_scenario_process/index.html">Scenario process for AR5</a>
   </td> </tr>
   <tr>
   <td class="menunav" id="menuobs"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/observ/index.html">Data: Observations</a></td> </tr>
   <tr>
   <td class="menunav" id="menusim"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/sim/index.html">Data: Simulations</a></td> </tr>
   <tr class="ddcsca">
   <td class="menunav" id="menusca"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/syn/tar_scatter/index.html">Data: Synthesis</a></td> </tr>
   <tr>
   <td class="menunav" id="menuvis"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
   <td class="nav"> <a  href="/maps/">Visualisation</a></td> </tr>
