<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml">
 <head>
 <title>{{ page.title }}</title>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
   <!-- Apparently google uses description info in the search output page-->
   <meta name="Description" content="Climate data from the Intergovernmental Panel on Climate Change (IPCC)
   Assessment Reports"/>
 <!-- Page tags -->
 <!-- path@2010:l -->
 <!-- property="ddctran:ddchome" -->
 <!-- End tags -->
 <link rel="stylesheet" type="text/css" href="/css/ddc_style2012.css" />
 <link type="text/css" href="/css/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />
 <link rel="stylesheet" type="text/css" href="/css/ddc_style2011_ps.css" />
 <script src="/js/2013/jquery.min.js" type="text/javascript"></script>
 <script src="/js/2013/jquery-ui.min.js" type="text/javascript"></script>

 </head>

<body class="{{ page.bodyclass }}">

<!-- Header Block -->

{% include {{ page.banner }} %}
<!-- End of Header Block -->

   <!-- Center Column -->
 <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
 <tr style="margin:0;padding:0;border:0;">
 <td style="margin:0;padding:0;border:0;height:1pt;width:150pt;background:#5492CD;" valign="top" >

<div id="lh-col2" class="{{ page.menuclass }}">
<table class="menumain" bgcolor="#5492CD" cellspacing="0" width="100%" border="0">
{% include {{ page.menu }} %}
</table>
</div>

 </td>
 <td valign="top" >
 
 {% if page.preContentExtras %}
     {% include {{ page.preContentExtras }} %}
 {% endif %}
 {{ content }}

<!--#config timefmt=" %d %B %Y" -->

 {% if page.postContentExtras %}
     {% include {{ page.postContentExtras }} %}
 {% endif %}
 
   </td>
   </tr>
   </table>

   <!-- start of google tracker script -->
   <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
   document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
   </script>
   <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-5141437-1");
   pageTracker._initData();
   pageTracker._trackPageview();
   </script>
   <!-- end of google tracker script -->
   </body>
   </html>
