<table class="menumain" bgcolor="#5492CD" cellspacing="0" width="100%" border="0">
<tr>
  <td class="menunav" id="menuipcc"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="nav"> <a  href="http://www.ipcc.ch">IPCC Home</a></td> </tr><tr>
  <td class="menunav" id="menuddchome"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="nav"> <a  href="/index.html">DDC Home</a></td> </tr><tr>
  <td class="menunav" id="menuddc"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="nav"> <a  href="/ddc_about.html">About the DDC</a></td> </tr><tr>
  <td class="menunavo" id="menuobs"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navo"> <a  href="/obs/index.html">Climate observations</a></td> </tr><tr class="ar4_obs">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/obs/ar4_obs.html">AR4 global means</a></td>
</tr><tr class="cru_ts2_1">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/obs/cru_ts2_1.html">Gridded CRU fields</a></td>
</tr><tr class="cru_climatologies">
  <td class="menunav"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="navsub"> <a  href="/obs/cru_climatologies.html">Old CRU data</a></td>
</tr><tr>
  <td class="menunav" id="menumodel"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="nav"> <a  href="/ddc_gcm_intro.html">Climate models</a></td> </tr><tr>
  <td class="menunav" id="menusocio-economic"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="nav"> <a  href="http://sedac.ciesin.columbia.edu/ddc/index.html">Socio-economic data</a></td> </tr><tr>
  <td class="menunav" id="menuenvir"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="nav"> <a  href="/ddc_envdata.html">Environmental data and Scenarios</a></td> </tr><tr>
  <td class="menunav" id="menuguide"> <img src="/img/pixel.gif" alt="x" height="21" width="9"/> </td>
  <td class="nav"> <a  href="/guidelines/index.html">Supporting material</a></td> </tr>
</table>
